* {
    margin: 0;
    padding: 0;
}

html {
    --delay: 125ms;
    --speed: 500ms;
    --blockSize: 5vmin;
}

body {
    background-color: black;
    text-align: center;
}

div {
    display: inline-block;
    background-color: white;
    width: var(--blockSize);
    height: var(--blockSize);
    margin: calc(50vh - var(--blockSize) / 2) calc(var(--blockSize) / 2) 0;
    animation: jumping var(--speed) ease-in-out infinite alternate;
}
#div1 {
    background-color: green;
    animation-delay: calc(var(--delay) * 1);
}
#div2 {
    background-color: darkblue;
    animation-delay: calc(var(--delay) * 2);
}
#div3 {
    background-color: yellow;
    animation-delay: calc(var(--delay) * 3);
}
#div4 {
    background-color: magenta;
    animation-delay: calc(var(--delay) * 4);
}
#div5 {
    background-color: darkslateblue;
    animation-delay: calc(var(--delay) * 5);
}
@keyframes jumping {
    from {
        /* transform: translateY(0); */
        transform: translateY(calc(0 * var(--blockSize)));
    }
    to {
        transform: translateY(calc(-2 * var(--blockSize)));
    }
}
